<div class="flex items-center">
    <h5><%- title %></h5>
    <p id='count-overdue' class="bg-gray-200 inline p-1 mx-2 my-1 rounded">
        <%= data.length %>
    </p>
</div>
<ul class="list-none">
    <% for (var i=0; i< data.length ; i++) { %>
        <li class="todos-item">
            <div class="flex w-fit items-center px-2 py-1  my-2 rounded hover:bg-purple-100">
                <% let id=data[i].id; %>
                    <input type="checkbox" id="todo-checkbox-<%= data[i].id %>" <%=data[i].completed ? "checked" : "" %>
                    onclick="updateTodo(<%= data[i].id %>)"

                        class="w-4 h-4 text-gray-600 align-center">
                        <label for="todo-checkbox-<%= data[i].id %>" class="ml-2 text-sm cursor-pointer text-gray-600 ">
                            <%= data[i].title; %>
                        </label>
                        <a href="#"><svg xmlns="http://www.w3.org/2000/svg" onclick="TodoDelete( <%= data[i].id %> )"
                                fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                class="w-5 h-5 ml-2 text-gray-600 todo-task hidden">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                        </a>

            </div>
        </li>
        <% } %>
</ul>